<%# so name of file should be according to the method in the controller, not controller name itself %>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <%# name= is link text after question mark %>
  <%# form action is the "site" we are getting routed to upon clicking Ask! button %>
  <input type="submit" value="Ask!">
</form>
